.cv{
    max-width: 80%;
    justify-self: center;
}

.top{
    text-align: center;
    width: 100%;
    background-color: black;
    color: rgb(212, 212, 212);
}

.bottom{
    width: 100%;
    height: 80%;
    text-align: left;
    border: solid;
}

.experience, .education, .skills, .links, .languages{
    font-size: small;
    padding-left: 10px;
}

.fontSmall{
    font-size: small;
}
